
@media screen and (max-width: 768px) {
  .saveButton {
  background: linear-gradient(green, black);
  width: 97%;
  height: 40px;
  border-radius: 29px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
}